.card {
    height: 550px;

    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;

    img {
        width: 100%;
    }

    .like-count {
        height: 32px;
        display: flex;
        align-items: center;
        padding-left: 16px;
        box-sizing: border-box;
        margin-bottom: 16px;
        mat-icon {
            height: 32px;
            font-size: 24px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .text-container {
        flex: 1;
        padding-bottom: 32px;
        overflow-x: auto;
    }

    p {
        padding-left: 16px;
        padding-right: 16px;
        color: rgba(0, 0, 0, 0.8);
        font-size: 20px;
    }

    button {
        width: 50%;
        position: absolute;
        bottom: 0;
        height: 32px;
        background-color: white;
        border: unset;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child {
            left: 0;
        }

        &:last-child {
            right: 0;
            border-left: 1px solid rgba(0, 0, 0, 0.1);
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }

        mat-icon {
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}