.card {
  height: 550px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
}

.card .like-count {
  height: 32px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.card .like-count mat-icon {
  height: 32px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .text-container {
  flex: 1;
  padding-bottom: 32px;
  overflow-x: auto;
}

.card p {
  padding-left: 16px;
  padding-right: 16px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
}

.card button {
  width: 50%;
  position: absolute;
  bottom: 0;
  height: 32px;
  background-color: white;
  border: unset;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card button:first-child {
  left: 0;
}

.card button:last-child {
  right: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.card button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.card button mat-icon {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
