.card {
    min-height: 550px;
    background-color: white;
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    overflow: hidden;

    img {
        width: 100%;
    }

    p {
        padding-left: 16px;
        padding-right: 16px;
        color: rgba(0, 0, 0, 0.8);
        font-size: 20px;
        font-family: 'Lato';
    }
}