.profile-row {
    display: flex;
    align-items: center;

    img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        object-position: center;
        border-radius: 100%;
        margin-right: 16px;
    }

    .name {
        width: 140px;
    }

    .description {
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
    }

    a {
        font-size: 12px;
        color: blue;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}