.container {
    display: flex;
    align-items: center;
    width: 400px;
    height: 152px;
    padding: 16px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-bottom: 8px;

    .proposal-wrapper {
        height: 100%;
        width: 100%;
    }

    .proposal-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;

        app-profile-row-mobile {
            &:hover {
                cursor: pointer;
                filter: brightness(1.25);
            }
        }
    }
}