.background-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  font-family: 'Lato';
  font-size: 16px;
}

.background-container mat-icon {
  height: 40px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  cursor: pointer;
}

.background-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.background-container form textarea {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 8px;
  font-family: 'Lato';
  font-size: 12px;
  resize: none;
}

.background-container form button {
  width: 100px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
}

.background-container form button:hover {
  background-color: rgba(255, 255, 255, 0.722);
}

.background-container form button:disabled {
  cursor: auto;
  background-color: white;
}
